Caption_image_Form_forhw.json
{
  "name": "Caption_image_Form",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?key=YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-upload-protocol",
              "value": "raw"
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "d57393be-249a-4eea-8c9e-8074a5479a89",
      "name": "Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -288,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"fileData\": {\n            \"mimeType\": \"image/jpeg\",\n            \"fileUri\": \"{{ $json.file.uri }}\"\n          }\n        },\n        {\n          \"text\": \"用繁體中文描述這張圖片\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "48c6da4d-9f23-4715-9be5-24fc63405f7c",
      "name": "Gemini Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -48,
        -80
      ]
    },
    {
      "parameters": {
        "formTitle": "圖片描述demo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "image",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -528,
        -80
      ],
      "id": "b98192ed-48d6-4b6c-9777-8ea22992c186",
      "name": "Form Trigger1",
      "webhookId": "da2c137b-a397-49a2-9a8f-6b2dcef9c6d1"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "圖片描述結果",
        "completionMessage": "={{ $json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        192,
        -80
      ],
      "id": "f5216f3c-e78d-45c9-b617-7e557365a010",
      "name": "Form",
      "webhookId": "e13eabb1-971d-405c-9351-024d5fa53084"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload File": {
      "main": [
        [
          {
            "node": "Gemini Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Caption": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger1": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96c5b187-3ac5-40bf-9466-c4ed1b3b79b3",
  "meta": {
    "instanceId": "ce1dd133ed7c48b57c133cf261c6f3b7f92bd4a61557db3e67853c09dde90ce6"
  },
  "id": "mL3dKnjxPkGPM0df",
  "tags": []
}