HW_Caption_image_Form.json
{
  "name": "Caption_image_Form",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?key=YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-upload-protocol",
              "value": "raw"
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "56d9b15a-b6db-4d2a-9041-98edd3f7516b",
      "name": "Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -32,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"fileData\": {\n            \"mimeType\": \"image/jpeg\",\n            \"fileUri\": \"{{ $json.file.uri }}\"\n          }\n        },\n        {\n          \"text\": \"用繁體中文描述這張圖片\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b31d4476-0b8d-44e3-ada5-9e30f09405f4",
      "name": "Gemini Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        208,
        192
      ]
    },
    {
      "parameters": {
        "formTitle": "圖片描述demo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "image",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -272,
        192
      ],
      "id": "a7084d76-6e57-4e60-8fc8-0c7356db9ba5",
      "name": "Form Trigger1",
      "webhookId": "da2c137b-a397-49a2-9a8f-6b2dcef9c6d1"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "圖片描述結果",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "9a11eb54-0c09-462a-83d3-e51e3d5815ad",
      "name": "Form",
      "webhookId": "e13eabb1-971d-405c-9351-024d5fa53084"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload File": {
      "main": [
        [
          {
            "node": "Gemini Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Caption": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger1": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33bc9900-d03b-4e60-b86f-e037cccb87bf",
  "meta": {
    "instanceId": "bac04b3b08c8801d3e68803d17a021c313e4c0dc1ba204f6fade3f2a443abdc6"
  },
  "id": "m3689saRQb7QWwrL",
  "tags": []
}
